*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(assets/14350820_5471985.jpg);
  }

  .container {
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
  }

  .menu {
    text-decoration: none;
  }

  h1 {
    color: #fff;
  }

  #teemo {
    width: 50%;
  }

  .btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(73, 73, 158);
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7px;
    text-decoration: none;
  }

  .btn a {
    text-decoration: none;
    color: inherit;
  }

  .btn.animated-button.thar-three {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid rgb(25, 25, 136);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    border-radius: 10px;
  }
  
  .btn.animated-button.thar-three:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: none; /* Correção: corrigindo o valor 'nthree' */
    text-decoration: none;
    border-radius: 10px;
  }
  
  .btn.animated-button.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .btn.animated-button.thar-three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: linear-gradient(to right, #e2e2e2, #6484ec);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    text-decoration: none;
    border-radius: 10px;
  }
  