* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(assets/teemoBG.jpg);
}

.container{
  width: 500px;
  height: 700px;
  position: relative;
  overflow: hidden;/*tudo que sair some*/
  border: 1px solid #f1b4b4;
}

.enemy {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
}

#malphite {
  left: 30px;
  animation: malphite 6s infinite linear;
}

#skarner {
  left: 125px;
  animation: skarner 7s infinite linear;
}

#singed {
  left: 220px;
  animation: singed  5s infinite linear;
}

#vaarus {
  left: 300px;
  animation: singed  4s infinite linear;
}

#darius {
  left: 400px;
  animation: singed  8s infinite linear;
}

@keyframes malphite{
    0% {
      top: -30vh;
    }
    100% {
      top: 120vh;
    }
}

@keyframes skarner {
  0% {
    top: -30vh;
  }
  100% {
    top: 120vh;
  }
}

@keyframes singed{
  0% {
    top: -30vh;
  }
  100% {
    top: 120vh;
  }
}

.player{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 225px; /*spawn css*/
  top: 650px;
  transition: ease; 
}

#background {
  /*background-image algo assim*/
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.Hub {
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.timer
{ 
   font-size: 50px;
   padding-left: 20px;
   padding-top: 10px;
   font-size: bold;
}

.btn {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(160, 45, 89);
  color: white;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 7px;
  text-decoration: none;
}

.btn a {
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
}

.btn.animated-button.thar-three {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid rgb(136, 25, 68);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 10px;
}

.btn.animated-button.thar-three:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none; /* Correção: corrigindo o valor 'nthree' */
  text-decoration: none;
  border-radius: 10px;
}

.btn.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
  text-decoration: none;
  border-radius: 10px;
}

.btn.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: linear-gradient(to right, #131010, #ec64c3);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  text-decoration: none;
  border-radius: 10px;
}